[submodule "lib/inih"]
	path = lib/inih
	url = https://github.com/benhoyt/inih
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui
[submodule "lib/raylib"]
	path = lib/raylib
	url = https://github.com/raysan5/raylib
